body {
   background-color: #FFF5EE;
   margin:0;
}

.patterns {
  height: 100vh;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #DE5D83;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:#DE5D83;

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #FFF5EE;
  }
  
}


